.shop_item .shop_thumb {
    left: 0px; 
    opacity:1;
}

.shop_item .shop_item_price {
    right:10px; 
    opacity:1;
}

.shop_item a.shopfav {
    opacity:1; 
    width: 10%;
}

.shop_item a.shopfriend {
    opacity:1;
    width: 10%;
}