.main-nav ul > li span {
    left: 0px;
    opacity: 1;
}

.main-nav ul {
    text-align: center;
}

.logo {
    top: 20px;
}

.cartitems {
    width: 30px; 
    height: 30px; 
    top: 10px; 
    right: 10px; 
    opacity:1;
}

