a.button-inline-left {
    background-color: var(--core-button-left-color);
    -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
    width:47%;
    display:inline-block;
    padding:2rem 0;
    margin:0 4% 0 0;
    color: var(--core-button-left-text-color);
    font-size:0.9rem;
    font-weight:700;
    letter-spacing:1px;
    min-height: 1rem;
}
a.button-inline-right {
    background-color: var(--core-button-right-color);
    -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
    width:47%;
    padding:2rem 0;
    display:inline-block;
    color: var(--core-button-right-text-color);
    font-size:0.9rem;
    font-weight:700;
    letter-spacing:1px;
    min-height: 1rem;
}

